/* cart-container */
#cart-container{
  background-color: white;
  border: solid 1px rgb(211, 210, 210);
  border-radius: 1em;
  margin: 3vh clamp(0.5rem, 10vw, 50rem);
  padding: 3vh ;
}
#cart-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2vw;
}
.cart-item{
  display: flex;
  margin: 1vh;
  gap: 1vw;
}
.cart-item img{
  max-width: 7vw;
  height: auto;
  object-fit: contain;
  border: solid 1px rgb(230, 230, 230);
}
.cart-info{
  display: flex;
  align-items: center;
  width:100%;
  gap:1vw;
}
.remove-btn{
  background: none;
  border:none;
  color:gray;
  cursor: pointer;
  font-size: 1.2rem;
}
#cart-container h3,p{
  text-align: center;
}
#checkout-btn{
  width: clamp(200px, 30vw, 400px);
  height: 7vh;
  border: none;
  background-color: rgb(70, 158, 253);
  color: var(--white);
  font-size: clamp(1rem, 1.5vw, 32px);
  cursor: pointer;
  margin: 5vh auto;
  display: block;
}