header nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: pink;
}
header img{
  display: block;
  height: 8vh;
  width: auto;
}

/* Products */
#products ul{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0 clamp(3rem, 2vw, 5rem);
}
#products img{
  height: 40vh;
  width: auto;
}
#products li{
  
}
#products h2{
  font-size: clamp(0.5rem, 0.3vw + 1rem, 2rem);
}