* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root{
  --white: white;
  --pink: rgb(251, 163, 235);
  --brown: #3B2F2F;
  --lightbrown:  #8e8a8a;
  --lightgreen:#E0F7E9;
  --lightyellow: rgb(255, 243, 175);
  --h2-font-wight: 700;
  --h2-font-size: clamp(10px, 1.5vw, 26px);
  --button-font-size: clamp(15px, 2vw, 56px);
  --button-width: clamp(200px, 20vw, 400px);
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: var(--lightgreen);
}
h1{
  font-size: clamp(2.5rem, 2rem + 2vw, 4rem);
  text-align: center;
  color: var(--brown);
}
h2{
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-wight);
  color: var(--brown);
}
/* header */
/* mainnav */
#mainnav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: pink;
}
#mainnav img{
  display: block;
  height: 8vh;
  width: auto;
}
/* subnav */
#subnav ul{
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: center;
  background-color: var(--lightyellow);
  justify-items: center;
  align-items: center;
}
#subnav li{
  padding-right: 2rem;
}
#subnav a:link,
#subnav a:visited{
  color: var(--brown);
}
#subnav a:hover{
  color: var(--lightbrown);
  text-decoration: underline;
}

/* footer */
footer{
  margin: 6vw;
}
footer img{
 display: block;
 margin: auto;
 width: 80vw;
 height: auto;
 object-fit: contain;
}
footer ul{
  display: flex;
  justify-content: space-evenly;
}
footer a:link,
footer a:visited{
  color: var(--brown);
}
footer a:hover{
  color: var(--lightbrown);
  text-decoration: underline;
}
