/* product-container */
#product-container{
  display: flex;
  background-color: white;
  border: solid 1px rgb(211, 210, 210);
  border-radius: 1em;
  margin: 3vh clamp(0.5rem, 10vw, 50rem);
}
.product-imgs{
  padding : 3vw;
}
#main-img{
  width: clamp(150px, 40vw, 1000px);
  display: block;
  margin: auto;
  padding: 1rem;
}
[id*="thumbnail"]{
  width: clamp(65px, 5vw, 300px);
  border: solid 0.5px rgb(211, 210, 210);
  border-radius: 0.3em;
  cursor: pointer;
}
.thumbnail-gallery img.selected {
  outline: 1px solid #ff69b4;
  transform: scale(1.05);
}
.product-details{
  padding : 3vw;
}
.product-details button{
  width: 100%;
  height: 7vh;
  border: none;
  background-color: rgb(70, 158, 253);
  color: var(--white);
  font-size: clamp(1rem, 1.5vw, 32px);
  cursor: pointer;
}
.product-details h1{
  font-size: var(--h2-font-size);
  padding-bottom: 5vh;
}
.product-details p{
  padding-bottom: 3vh;
}
#precautions{
  padding-top: 10vh;
}
#label-quantity{
  display: block;
  padding-bottom: 3vh;
}
#quantity{
  padding-left: 1ch;
}

/* reviews */
#reviews{
  margin: 3vh clamp(0.5rem, 10vw, 50rem);
}
#review-container{
  display: flex;
}
#review-container ul{
  width: 70%;
}
#review-List{
  padding: 1rem;
}
form{
  width: 30%;
}
form label{
  display: flex;
  flex-direction: column;
}
input,
select{
  height:2rem;
}
#reviews button{
  width: 100%;
  height: 2rem;
  border: none;
  background-color: rgb(70, 158, 253);
  color: var(--white);
  font-size: clamp(1rem, 1vw, 1.5rem);
  margin:2vh 0;
  cursor: pointer;
}
textarea{
  resize:none;
}

@media (max-width: 1020px) {
  #product-container{
    flex-direction: column;
  }
  .product-imgs{
    margin : 0 auto;
  }
  #review-container{
    flex-direction: column;
  }
  #review-container ul{
    width: 100%;
  }
  form{
    width: 100%;
  }
}